@charset "UTF-8";

:root {
  --color-neutral-divider: hsl(240, 5%, 91%);
  --color-primary-gradient-soft-blue: hsl(240, 73%, 65%);
  --color-primary-gradient-soft-violet: hsl(273, 75%, 66%);
  --color-text-neutral-dark-blue: hsl(240, 6%, 50%);
  --color-text-neutral-very-dark-blue: hsl(237, 12%, 33%);
  --color-text-primary-dark-blue: hsl(238, 29%, 16%);
  --color-text-primary-soft-red: hsl(14, 88%, 65%);
  --font-family: "Kumbh Sans", sans-serif;
  --font-size: 0.75rem;
  --font-size-h1: 2rem;
  --font-size-h2: 0.8125rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

/*#region Attribution*/
.attribution {
  color: var(--color-text-primary-dark-blue);
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: var(--color-text-primary-soft-red);
  text-decoration: none;
}
/*#endregion*/

/*#region Base styles*/
body {
  background-image: linear-gradient(
    0deg,
    var(--color-primary-gradient-soft-blue),
    var(--color-primary-gradient-soft-violet)
  );
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
}

.card {
  background-color: white;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 1.4375rem;
  box-shadow: 0 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.5);
  margin: 2.5rem 1.5rem 5.3125rem 1.5rem;
}

.card__image {
  display: flex;
  justify-content: center;
}

.card__image-mobile {
  margin-left: -30px;
  margin-top: -6.8rem;
}

.card__image-desktop {
  display: none;
}

.card__content {
  margin: 2.75rem 1.5rem 3rem 1.5rem;
}

h1 {
  color: var(--color-text-primary-dark-blue);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.accordion {
  margin-top: 2rem;
}

.accordion__item {
  border-bottom: 1px solid var(--color-neutral-divider);
}

.accordion__item h2 {
  color: var(--color-text-primary-dark-blue);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-top: 1.0625rem;
}

.accordion__item > div > p {
  color: var(--color-text-neutral-dark-blue);
  margin-top: 0.75rem;
  padding-bottom: 1.0625rem;
}
/*#endregion*/

/*#region Card desktop fallback styles*/
@media screen and (min-width: 992px) {
  body {
    align-content: center;
    display: grid;
    justify-content: center;
  }

  .card {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: left -35.5rem top -18.5rem;
    background-size: 104%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    max-width: 57.5rem;
  }

  .card__image-mobile {
    display: none;
  }

  .card__image-desktop {
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-position: left -5.25rem center;
    background-repeat: no-repeat;
    display: inherit;
    height: 22.4375rem;
    margin-top: 4.34rem;
    min-width: 100%;
  }

  .card__image-desktop-box {
    margin-bottom: 2.725rem;
    margin-left: -5.5rem;
    margin-top: auto;
  }

  .card__content {
    margin-right: 5.9375rem;
    margin-top: 4.0625rem;
  }

  h1 {
    text-align: left;
  }
}
/*#endregion*/

/*#region Accordion Styles*/
h2.accordion__heading,
.accordion__trigger[aria-expanded="false"] {
  color: var(--color-text-primary-dark-blue);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
}

.accordion__trigger[aria-expanded="false"] {
  margin-bottom: 1.0625rem;
}

.accordion__trigger[aria-expanded="true"] {
  color: var(--color-text-primary-dark-blue);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0;
}

.accordion__trigger {
  all: inherit;
  cursor: pointer;
  display: block;
  min-width: 100%;
  position: relative;
  z-index: 2;
}

.accordion__trigger > img {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 1rem;
  top: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

/* .accordion__trigger:focus, */
.accordion__trigger:hover {
  color: var(--color-text-primary-soft-red);
  outline: none;
}

.accordion__trigger[aria-expanded="true"] > img {
  transform-origin: center center;
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

.accordion__trigger[aria-disabled="true"]:hover {
  cursor: not-allowed;
}

.accordion__panel {
  background-color: inherit;
  max-height: 0vh;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  z-index: 1;
}

.accordion__panel--transition {
  transition: max-height 0.2s ease-in-out, padding-top 0.2s ease-in-out,
    padding-bottom 0.2s ease-in-out;
}

.accordion__panel[aria-hidden="false"] {
  max-height: 100vh;
  overflow: auto;
  visibility: visible;
}
/*#endregion*/
